---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=9361036&country=US&key=app_key&lat=33.2896&lon=-87.5251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - fcb2c585-4d19-4047-9004-74f08f890ee5
      X-Apigee.target-Latency:
      - '37'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":34,"numResults":10,"offset":0,"totalResults":12,"fuzzyLevel":1,"geoBias":{"lat":33.2896,"lon":-87.5251}},"results":[{"type":"POI","id":"UnFl-ZowqEwO04s4hz9MjQ","score":93.7854003906,"dist":6214.599125535533,"info":"search:ta:840011000458130-US","poi":{"name":"Campus
        Supply","phone":"+1 205-752-7776","categorySet":[{"id":9361036}],"url":"www.campus-supplyal.com","categories":["jewelry,
        clocks watches","shop"],"classifications":[{"code":"SHOP","names":[{"nameLocale":"en-US","name":"shop"},{"nameLocale":"en-US","name":"jewelry,
        clocks watches"}]}]},"address":{"streetNumber":"3610","streetName":"Watermelon
        Road","municipality":"Northport","countrySecondarySubdivision":"Tuscaloosa","countrySubdivision":"AL","countrySubdivisionName":"Alabama","postalCode":"35473","extendedPostalCode":"35473-5169","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"3610 Watermelon Road, Northport,
        AL 35473","localName":"Northport"},"position":{"lat":33.2384,"lon":-87.5519},"viewport":{"topLeftPoint":{"lat":33.2393,"lon":-87.55298},"btmRightPoint":{"lat":33.2375,"lon":-87.55082}},"entryPoints":[{"type":"main","position":{"lat":33.23903,"lon":-87.55175}}]},{"type":"POI","id":"rB_snTjxYus-xY_IKhSqnw","score":93.4655075073,"dist":6534.493274565792,"info":"search:ta:840019001733071-US","poi":{"name":"Gillis
        Jewelers","phone":"+1 205-343-7465","categorySet":[{"id":9361036}],"url":"www.gillisjewelers.com","categories":["jewelry,
        clocks watches","shop"],"classifications":[{"code":"SHOP","names":[{"nameLocale":"en-US","name":"shop"},{"nameLocale":"en-US","name":"jewelry,
     [...]
