---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/poiSearch/Autauga+County.json?categorySet=9361036&countrySet=US&key=hMo0yQrUeblbDraJXVbivfp1EEOr1mlZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - fc64501e-0e7e-4a19-bc91-485664093f62
      X-Apigee.target-Latency:
      - '35'
      X-Tomtom-Processed-By:
      - eastus
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"autauga county","queryType":"NON_NEAR","queryTime":32,"numResults":7,"offset":0,"totalResults":7,"fuzzyLevel":1},"results":[{"type":"POI","id":"Yr4JsVwRgeqbCR--aa8yoA","score":3.3061943054,"info":"search:ta:840019000787963-US","poi":{"name":"Kay
        Jewelers","phone":"+1 334-285-3880","brands":[{"name":"Kay Jewelers"}],"categorySet":[{"id":9361036}],"url":"www.kay.com","categories":["jewelry,
        clocks watches","shop"],"classifications":[{"code":"SHOP","names":[{"nameLocale":"en-US","name":"shop"},{"nameLocale":"en-US","name":"jewelry,
        clocks watches"}]}]},"address":{"streetNumber":"2471","streetName":"Cobbs
        Ford Road","municipalitySubdivision":"Silver Hills","municipality":"Prattville","countrySecondarySubdivision":"Autauga","countrySubdivision":"AL","countrySubdivisionName":"Alabama","postalCode":"36066","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"2471 Cobbs Ford Road, Prattville,
        AL 36066","localName":"Prattville"},"position":{"lat":32.46063,"lon":-86.41771},"viewport":{"topLeftPoint":{"lat":32.46153,"lon":-86.41878},"btmRightPoint":{"lat":32.45973,"lon":-86.41664}},"entryPoints":[{"type":"main","position":{"lat":32.46051,"lon":-86.41759}}]},{"type":"POI","id":"uAeIpgt8KP0FOjD2oH64LA","score":3.2740609646,"info":"search:ta:840019000684334-US","poi":{"name":"Bryan
        Jewelry","phone":"+1 334-365-6552","categorySet":[{"id":9361036}],"url":"www.bryanjewelry.com","categories":["jewelry,
        clocks watches","shop"],"classifications":[{"code":"SHOP","names":[{"nameLocale":"en-US","name":"shop"},{"nameLocale":"en-US","name":"jewelry,
        clocks watches"}]}]},"address":{"streetNumber":"1778","streetName":"East Main
        Street","municipalitySubdivision":"Silver Hills","municipality":"Prattville","countrySecondarySubdivision":"Autauga","countrySubdivision":"AL","countrySubdivisionName":"Alabama","postalCode":"36066","extendedPostalCode":"36066-5582","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1778 East Main Street,
        Prattville, AL 36066","localName":"Prattville"},"position":{"lat":32.4601,"lon":-86.42297},"viewport":{"topLeftPoint":{"lat":32.461,"lon":-86.42404},"btmRightPoint":{"lat":32.4592,"lon":-86.4219}},"entryPoints":[{"type":"main","position":{"lat":32.46055,"lon":-86.42296}}]},{"type":"POI","id":"_sFM2kgMYHP5_WTWjj4y9Q","score":1.6191999912,"info":"search:ta:840[...]
