---
http_interactions:
- request:
    method: get
    uri: https://api.gateway.attomdata.com/v4/area/state/lookup?apikey=app_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Response":{"status":{"version": "1.0.0","code": "401","msg": "Unauthorized","total":
        "0","page": "0","pagesize": "0"}}}'
  recorded_at: Fri, 28 Apr 2023 01:59:56 GMT
[...]
- request:
    method: get
    uri: https://api.gateway.attomdata.com/v4/area/state/lookup
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - app_key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Response":{"status":{"version": "1.0.0","code": "401","msg": "Unauthorized","total":
        "0","page": "0","pagesize": "0"}}}'
  recorded_at: Fri, 28 Apr 2023 02:00:57 GMT
[...]
- request:
    method: get
    uri: https://api.gateway.attomdata.com/areaapi/v2.0.0/state/lookup
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - app_key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Response":{"status":{"version": "1.0.0","code": "401","msg": "Unauthorized","total":
        "0","page": "0","pagesize": "0"}}}'
  recorded_at: Fri, 28 Apr 2023 02:49:54 GMT
- request:
    method: get
    uri: https://api.gateway.attomdata.com/areaapi/v2.0.0/county/lookup?StateId=ST36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - app_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"inputparameter":{"StateId":"ST36","page":"1","pageSize":"200","mime":"json","package":"Lookup","resource":"County","service":"Area"},"result":{"package":{"description":"This
        lookup returns all the Counties that are in a particular state. The State
        ID is required. The two-digit FIPS code or the two-letter abbreviation can
        be used for the State ID.","item":[{"type":"CO","geoIdV4":"c92b20d9ac51365b22857a5e3e292c25","geo_id":"CO36001","geo_key":"CO36001","name":"Albany","area":"532.41360489463","area_unit":"sq.
        mi.","community_data_available":"1","geo_center_latitude":"42.614825","geo_center_longitude":"-73.978456229"},{"type":"CO","geoIdV4":"3f65c91aa8da4a37078f83b2da9b9cb5","geo_id":"CO36003","geo_key":"CO36003","name":"Allegany","area":"1032.81047491424","area_unit":"sq.
        mi.","community_data_available":"1","geo_center_latitude":"42.2590545","geo_center_longitude":"-78.023570781"},{"type":"CO","geoIdV4":"3454af0f86ffa06c7e7ec05811857e09","geo_id":"CO36005","geo_key":"CO36005","name":"Bronx","area":"57.2974423298149","area_unit":"sq.
        mi.","community_data_available":"1","geo_ce[...]
