---
http_interactions:
- request:
    method: get
    uri: https://api.stlouisfed.org/geofred/regional/data?api_key=app_key&date=2023-05-12&file_type=json&frequency=m&region_type=county&season=NSA&series_group=1224&units=Percent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"2a4d14b3f57f08be8687c6729f5eb251-gzip"'
      X-Rate-Limit-Limit:
      - '120'
      X-Rate-Limit-Remaining:
      - '120'
    body:
      encoding: UTF-8
      string: '{"meta":{"title":"2023 March Unemployment Rate by County (Percent)","region":"county","seasonality":"Not
        Seasonally Adjusted","units":"Percent","frequency":"Monthly","data":{"2023-03-01":[{"region":"Marshall
        County, OK","code":"40095","value":2.9,"series_id":"OKMARS5URN"},{"region":"Lawrence
        County, SD","code":"46081","value":1.4,"series_id":"SDLAWR1URN"},{"region":"Union
        County, SC","code":"45087","value":4.9,"series_id":"SCUNIO7URN"},{"region":"Tillman
        County, OK","code":"40141","value":4.8,"series_id":"OKTILL1URN"},{"region":"Union
        County, PA","code":"42119","value":3.3,"series_id":"PAUNIO9URN"},{"region":"Clatsop
        County, OR","code":"41007","value":3.9,"series_id":"ORCLAT7URN"},{"region":"Horry
        Coun[...]
[...]
