---
http_interactions:
- request:
    method: get
    uri: https://api.stlouisfed.org/geofred/regional/data?api_key=app_key&date=2023-05-12&file_type=json&frequency=m&region_type=state&season=SA&series_group=1224&units=Percent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"7d29338b86cdd5d02091cb637c494db3-gzip"'
      X-Rate-Limit-Limit:
      - '120'
      X-Rate-Limit-Remaining:
      - '120'
    body:
      encoding: UTF-8
      string: '{"meta":{"title":"2023 March Unemployment Rate by State (Percent)","region":"state","seasonality":"Seasonally
        Adjusted","units":"Percent","frequency":"Monthly","data":{"2023-03-01":[{"region":"New
        Hampshire","code":"33","value":2.4,"series_id":"NHUR"},{"region":"Alaska","code":"02","value":3.7,"series_id":"AKUR"},{"region":"Alabama","code":"01","value":2.3,"series_id":"ALUR"},{"region":"Arizona","code":"04","value":3.5,"series_id":"AZUR"},{"region":"California","code":"06","value":4.4,"series_id":"CAUR"},{"region":"Connecticut","code":"09","value":4,"series_id":"CTUR"},{"region":"District
        of Columbia","code":"11","value":4.8,"series_id":"DCUR"},{"region":"Delaware","code":"10","value":4.4,"series_id":"DEUR"},{"region":"Florida[...]
[...]
