---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=9361036&country=US&key&lat=33.2896&lon=-87.5251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/xml
      Tracking-Id:
      - 4c53a41a-34a2-4953-8a91-bb3306d29c17
      X-Error-Detail-Header:
      - Account Inactive
      X-Tomtom-Processed-By:
      - eastus
    body:
      encoding: UTF-8
      string: "<h1>Developer Inactive</h1>"
  recorded_at: Wed, 26 Apr 2023 22:28:23 GMT
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=9361036&country=US&key=FjGhz9rvAgFDGdWhDLmHWIovtjd31NyW&lat=33.2896&lon=-87.5251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 2c5f1f3f-b59a-4416-8d08-b67f47d171ab
      X-Apigee.target-Latency:
      - '39'
      X-Tomtom-Processed-By:
      - eastus
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":36,"numResults":10,"offset":0,"totalResults":12,"fuzzyLevel":1,"geoBias":{"lat":33.2896,"lon":-87.5251}},"results":[{"type":"POI","id":"UnFl-ZowqEwO04s4hz9MjQ","score":103.1639426657,"dist":6214.599125535533,"info":"search:ta:840011000458130-US","poi":{"name":"Campus
        Supply","phone":"+1 205-752-7776","categorySet":[{"id":9361036}],"url":"www.campus-supplyal.com","categories":["jewelry,
        clocks watches","shop"],"classifications":[{"code":"SHOP","names":[{"nameLocale":"en-US","name":"jewelry,
        clocks watches"},{"nameLocale":"en-US","name":"shop"}]}]},"address":{"streetNumber":"3610","streetName":"Watermelon
        Road","municipality":"Northport","countrySecondarySubdivision":"Tuscaloosa","countrySubdivision":"AL","countrySubdivisionName":"Alabama","postalCode":"35473","extendedPostalCode":"35473-5169","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"3610 Watermelon Road, Northport,
        AL 35473","localName":"Northport"},"position":{"lat":33.2384,"lon":-87.5519},"viewport":{"topLeftPoint":{"lat":33.2393,"lon":-87.55298},"btmRightPoint":{"lat":33.2375,"lon":-87.55082}},"entryPoints":[{"type":"main","position":{"lat":33.23903,"lon":-87.55175}}]},{"type":"POI","id":"rB_snTjxYus-xY_IKhSqnw","score":102.8120604864,"dist":6534.493274565792,"info":"search:ta:840019001733071-US","poi":{"name":"Gillis
        Jewelers","phone":"+1 205-343-7465","categorySet":[{"id":9361036}],"url":"www.gillisjewelers.com","categories":["jewelry,
        clocks watches","shop"],"classifications":[{"code":"SHOP","names":[{"nameLocale":"en-US","name":"jewelry,
        clocks watches"},{"nameLocale":"e[...]
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=9361036&country=US&key=KpyhSKgUox58AENqEDv7zskPKmwSVsLW&lat=33.2896&lon=-87.5251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 2f5fc456-5400-4d33-9677-da27184575ff
      X-Apigee.target-Latency:
      - '40'
      X-Tomtom-P[...]
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=9361036&country=US&key=u8yDq3rvQbQfAhUVIzKDupeo67zBfJ50&lat=33.2896&lon=-87.5251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 924454f0-cb74-47cf-b8ac-23674d0ca5ce
      X-Apigee.target-Latency:
      - '15'
      X-Tomtom-P[...]
