---
http_interactions:
- request:
    method: get
    uri: https://api.stlouisfed.org/geofred/regional/data?api_key=app_key&date=2022-01-01&frequency=m&region_type=county&season=NSA&series_group=1224&units=Percent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"a3ac06dce13a39802cb7b6312fd4f1f2-gzip"'
      X-Rate-Limit-Limit:
      - '120'
      X-Rate-Limit-Remaining:
      - '119'
    body:
      encoding: UTF-8
      string: '{"meta":{"title":"2023 March Unemployment Rate by County (Percent)","region":"county","seasonality":"Not
        Seasonally Adjusted","units":"Percent","frequency":"Monthly","data":{"2022-01-01":[{"region":"Olmsted
        County, MN","code":"27109","value":3,"series_id":"MNOLMS9URN"},{"region":"Blue
        Earth County, MN","code":"27013","value":3.1,"series_id":"MNBLUE5URN"},{"region":"Barton
        County, MO","code":"29011","value":2.9,"series_id":"MOBART1URN"},{"region":"Winona
        County, MN","code":"27169","value":2.9,"series_id":"MNWINO9URN"},{"region":"Cass
        County, MO","code":"29037","value":3.1,"series_id":"MOCASS0URN"},{"region":"Lincoln
        County, MN","code":"27081","value":4.9,"series_id":"MNLINC1URN"},{"region":"Sibley
        Co[...]
[...]
- request:
    method: get
    uri: https://api.stlouisfed.org/geofred/regional/data?api_key=app_key&date=2022-01-01&file_type=json&frequency=m&region_type=county&season=NSA&series_group=1224&units=Percent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"bb933663f2085248712fbe1e286b142f-gzip"'
      X-Rate-Limit-Limit:
      - '1[...]
[...]
